.flex-end {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.min-height-80 {
    min-height: 80vh;
}